

/***** ADD/REMOVE SIMA CATALOGUE *****/

button.btn-primary.with-icon.js-mySelection[data-action=remove] .selection-empty {
    display: none;
}

button.btn-primary.with-icon.js-mySelection[data-action=add] .selection-full {
    display: none;
}

#cxpmClientAccountWidget {
    position: initial !important;
}
